.btn{
    padding: 10px 15px;
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 3px;
    &.button--type2{
      
        background-image: repeating-linear-gradient(
            319deg, #ee4d2d, #b9005b 100px);
            
    
        color: $white-color;
        width: 100%;
        padding: 2px 15px;
    border-radius: 10px;
    
    }
    &.bg-active{
        background-color: $active-color;
        color: $white-color;
        margin: 0 auto;
        display: block;
    }
    &.animate{
        &:hover{
            background: $white-color;
            color: $active-color;
            transition: .4s;
            border: 1px solid $active-color;
        }
    }
}

